.img1{
    animation-duration: 3s;
    animation-name: slidein;
}
      
@keyframes slidein {
    from {
        margin-left: 120%;
        width: 300%
    }80% {
            align-items: center;
            margin-left: 0%;
            width: 100%;
    }
}

